rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function userDoc() { return get(/databases/$(database)/documents/users/$(request.auth.uid)); }
    function isAdmin() { return isSignedIn() && userDoc().data.role == "admin"; }
    function isManager() { return isSignedIn() && userDoc().data.role == "manager"; }

    match /users/{uid} {
      allow get: if isSignedIn() && request.auth.uid == uid;
      allow list, read: if isAdmin();
      allow create: if isSignedIn() && request.auth.uid == uid; // Allow users to create their own document
      allow update, delete: if isAdmin();
    }

    match /patients/{patientId} {
      allow read, list: if isSignedIn();
      allow create: if isAdmin() || isManager();
      allow update, delete: if isAdmin();
      match /visits/{visitId} {
        allow read, list: if isSignedIn();
        allow create: if isAdmin() || isManager();
        allow update, delete: if isAdmin();
      }
    }

    match /appointments/{appointmentId} {
      allow read, list: if isSignedIn();
      allow create: if isAdmin() || isManager();
      allow update, delete: if isAdmin() || isManager();
    }
  }
}
